@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
 background-color: rgb(49, 49, 49);   
 font-family: 'DM Sans', sans-serif;
}

main{
    max-width: 1400px;
    margin: auto;
    display: flex;
}

/* IZQUIERDA */

.leftbox{
    width: 40%;
    background-color: rgb(82, 82, 81); 
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(232, 232, 213);
}

.top-info{
    font-weight: 700;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    margin-top: 1rem;
    width: auto;
    text-align: center;
}



/* SECCIÓN DE IMAGENES */
.pictures{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    gap: 0.5rem;
    align-items:center;
    margin: 1rem;
    margin-top: 0;
}

.pictures img{
    height: auto;
    width: 100%;
    transition: all ease 0.7s;
}

.img_wrap{
    position: relative;
    height:auto;
    width: auto;
    transition: all ease .5s;
}

.img_text{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: rgba(173, 173, 173, 0.72);
    color: #000000;
    transition: all .5s;
}

.img_wrap .img_text{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.img_wrap:hover .img_text{
    visibility: visible;
    opacity: 1;
}

.img_wrap:hover img{
    scale: 100%;
}

.img_wrap:hover{
    transform: scale(107%);
}

.img_wrap:active{
    transform: scale(97%);
}

.side-pic {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.85rem;
    line-height: 1.3;
    letter-spacing: 0.02em;
}

.side-pic figcaption{
    margin-top: 0.5rem;
}

.center-pic {
    margin: 5px 4px 0px 4px;
}

/* prueba con caja derecha  */

.rightbox{
    width: 50%;
    background-color: rgb(255, 255, 255); 
    color: rgb(67, 67, 59);
}

/* SECCION DE INFORMACIÓN DE ARRIBA */
.title{
    text-align: center;
    font-family: "Sekuya", system-ui;
    font-size: clamp(5rem, 15vw, 11rem);
}

.name{
    font-family: 'Sekuya', system-ui;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

/* SECCIÓN DE INFORMACIÓN DE ABAJO */

.bottom-info {
    display: flex;
    gap: 1rem;
    margin: 0px 20px 0px 20px;
    font-size: 12px;
}

.bottom-info p{
    background: rgb(137, 137, 126);
    color: rgb(227, 227, 209);
    padding: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.75rem;
    line-height: 1.3;

    border-radius: 12px;
}